<!doctype html>
<html lang="en">
<head>
    <title>Carrito</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container my-5">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Carrito</h1>
            <!-- Precio total en grande -->
            <div class="alert alert-primary text-center" style="font-size: 1.5rem;">
                Precio total: €{{ cart_total }}
            </div>
        </div>
        {% if cart %}
            {% for folder in cart %}
            <div class="p-3 mb-3 border rounded">
                <h3>{{ folder.name }}</h3>
                <p>Configuración:</p>
                <ul>
                    <li>Copias: {{ folder.configuracion.copias }}</li>
                    <li>Color: {{ folder.configuracion.color }}</li>
                    <li>Tamaño del papel: {{ folder.configuracion.tamano_papel }}</li>
                    <li>Grosor del papel: {{ folder.configuracion.grosor_papel }}</li>
                </ul>
                <h4>Archivos:</h4>
                <ul>
                    {% for archivo in folder.archivos %}
                    <li>{{ archivo.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        {% else %}
            <p>No hay carpetas en el carrito.</p>
        {% endif %}
        <a href="{{ url_for('index') }}" class="btn btn-primary">Volver</a>
    </div>
</body>
</html>
